body {
    margin: 0;
    overflow: hidden;
    background-color: #2b2b2b;
}
.title {
    font-family: 'JetBrains Mono', monospace;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8);
    position: relative; /* Required for z-index to work */
    z-index: 10; /* Ensures .title is above #glostr-posts */
}
.purple {
    color: #8e30eb;
}
.white {
    color: #d0d0d0;
}
#glostr-posts {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    top: 200px;
    left: 12px;
    right: 12px;
    bottom: 0px;
    border-radius: 8px;
    overflow-y: auto;
    gap: 80px;
    padding: 40px;
}
